/* ** SANTI I ** */


*{box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  }
.App {
  text-align: center;
}
.logo{
  width: 8vw;
  height: 30vh;
}


a{
  color: black;
}
ul{
  list-style-type: none;
}


.App-link {
  color: #61dafb;
}

.bigNavbar{
  background-color: rgb(68, 113, 140);
  height: 30vh;
}
.h3{
  font-size: 0.5em;
}
.row{
  width: 100%;
  margin: auto;
}
.title{
  text-align: center;
 
  
}
h1{
  font-size:80px}

/* .hamburger{
  margin: auto;
  display: none;
  cursor: pointer;
} */
 .loginForm, .signupForm{
border-top: 1px solid black;
width: 100%;
/* padding-left: 100px; */
height: 100vh;
font-size: 50px;
background-image: url("./Assets/bg.png");
background-size: cover;
}

/* .Meme{
  border: 2px solid black;
  background-color: #E98000;
  height: 200px;
  width: 200px;
  border-radius: 30px;
  display: inline-flex;
  flex-direction: column;
  margin: 15px;
  justify-content: space-around;
  
} */
@media(max-width: 1700px){
  .title{
    padding-top: 2000px;
    height: 1vh;
    }
    .logo{
      width: 20vw;
    height: 10vh;
    }
    /* h1{font-size:3em;} */
}
@media(min-width: 1000px){
  .title{
    padding-top: 70px;
    height: 1vh;
    }
    .logo{
      width: 20vw;
    height: 10vh;
    }
    h1{font-size:2em;}
}
@media(min-width: 800px){
  .title{
    padding-top: 30px;
    height: 1vh;
    
    }
    h1{font-size: 1.5em;}
    .logo{
      width: 20vw;
    height: 20vh;
    
    }
}
@media(min-width:700px) {
  .title{
    padding-top: 50px;
    height: 1vh;
    
    }
    .logo{
      width: 20vw;
    height: 20vh;
    }
    h1{font-size: 2em;
    }
}
/* @media(min-width:600px){
  .title{
    padding-top: 25px;
    height: 1vh;
    }
    h1{font-size: 1em;}
    .logo{
      width: 20vw;
    height: 20vh;
    
    }
} */



@media (max-width:600px){
 h4,h2{
    font-size:1em;
    padding-left: 10px;
  }
  .logo{
    width: 30vw;
  height: 20vh;
  }
  .title{
    padding-top: 30px;
    height: 1vh;
    
    }
  .btn{
    font-size: .10em;
    width: 60px;
    
  }
  .form-group{
    width: auto;
    font-size: small;
  }
  
  .header{
    background-color: #008F95;
    
  }
  ul{
  list-style-type: none;
  }
  .a{
    color: black;
    visibility: hidden;
  }

.bigNavbar {
  height: 40vh;
}
.row{
  height: 20vh;
}
.title{
padding-top: 50px;
font-size: 1em;

}
h1{
font-size: 2em;

}
  
}
@media(min-width:500px){
  .title{
    padding-top: 25px;
    height: 1vh;
    }
    h1{font-size: 30px;}
    .logo{
      width:30vw;
    height: 20vh;
    }
}

@media(max-width:499px){
h1{
  font-size: 20px;
}
  
}











/* ** SETHS ** */

 *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} 

.App {
  height: auto;
  width: auto;
  text-align: center;
  background: #008F95;
  justify-content: space-around;
  
}
img{
  width: 300px;
  border-radius: 8px;
  height: 100vh;
  
}

.Meme, .NewMeme{
  border: 2px solid black;
  background-color: #E98000;
  width: 40%;
  height: 40%;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
}
/* @media screen and (max-width: 1000px){
  .NewMeme{
    width: 50%;
    height: auto;
    
  } */
  /* img{

    width: 100%;
    border-radius: 30px;
    height: 50%;
    

  } */
/* } */
@media screen and (max-width: 768px){
  .Profile,.NewMeme{
    width: auto;
    height: auto;
  }
  img{
    width: 100%;
    border-radius: 8px;
    height: auto;
 }
}
@media screen and (min-width:300px) {
  img{width: 200px;
    border-radius: 8px;
    height: 200px;}
  .Meme{
    width:204px ;
    height: auto;
  }
  h2{ padding-left: 20px;}
}
.count{
  text-align: center;
color: black;

}

/* 

.Profile{

  border: 4px solid red;

} */



.memeButtons{

  color: #E24E42;
  font: 20px;
}


/* .newMemeButtons{


} */
.unlike{
  background-color: rgb(184, 49, 31);
  width:80px;
  border-radius: 8px;


}
.like{
  background-color: rgb(103, 196, 103);
  width: 60px;
  border-radius: 8px;
  
}
h3{font-size: 20px;}
.edit{
  background-color: rgb(103, 136, 196);
  width: 60px;
  border-radius: 8px;
} 
@media screen and (min-width: 800px){
  .unlike{
    background-color: rgb(184, 49, 31);
    width: 90px;
    border-radius: 8px;
    ;
  }
  .like{
    background-color: rgb(103, 196, 103);
    width: 90px;
    
    border-radius: 8px;
  }
  .edit{
    background-color: rgb(103, 136, 196);
    width: 90px;
    
    border-radius: 8px;
  }
  .newMemeButtonEdit{
 font-size:50px;
  }

}

/* .newMemeButtonEdit{
  
} */
.red{

  color: #E24E42;
  font: 20px;
}

.Profile, .Home { 
  background-image: url("./Assets/bg.png");
  height: 100vh;
  border-top: 2px solid rgb(252, 252, 252);
  flex-wrap: wrap;
  
}
@media(min-with:1000px){
.NewMeme{
  width:10%;
  flex-wrap: wrap;
}
}

/* .Profile { 
  background-image: url("./Assets/bg.png");
} */

/* .cardBody2{

  border: 5px solid red;
  height: 50px;
} */