.App {
  height: auto;
  width: auto;
  text-align: center;
  background: #008F95;
}

.NewMeme{
  border: 2px solid black;
  background-color: #E98000;
}

.Home{
  border: 2px solid purple;

}

.Profile{

  border: 2px solid red;

}